.sorting {
    display: flex;
    align-items: center;
    height: 80vh;
    width: 100vw;
    margin-top: 1rem;
}

.array-container {
    /* display: flex;
    align-items: flex-end; */
    max-width: 1000px;
    /* margin: auto; */
}

.array-bar {
    width: 25px;
    background: pink;
    font-size: 0.5rem;
    color: white;
}