.sorting {
    display: flex;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

.array-container {
    /* display: flex;
    align-items: flex-end; */
    max-width: 1000px;
    /* margin: auto; */
}

.array-bar {
    /* margin: 0.1rem; */
    /* min-width: 2px; */
    width: 25px;
    background: pink;
    font-size: 0.5rem;
}